.navbar{
    padding: 0;
    height: 70px
}

.float-left{
    float: left;
}

.mat-toolbar-row, .mat-toolbar-single-row{
    padding: 0 15px;
}

.header-icon{
    color: white;
    line-height: 1.9;
    margin-right: 1.1vw;
}